@import url('https://fonts.googleapis.com/css?family=Roboto+Slab|Suez+One|Raleway|Montserrat|Inconsolata&display=swap');

/* Basic styles */

* {
	margin: 0;
	padding: 0;
}

html, body {
	width: 100%;
	height: 100%;
	background: #000;
	scroll-behavior: smooth;
}

a {
	text-decoration: none;
}

i {
	transition: all 0.5s ease;
}

i:hover {
	transform: rotate(360deg);
	color: #909090;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.content {
	flex: 1 0 auto;
}

/*-------------*/

/* Header styles */

header {
	width: 100%;
	background: #1a1b1c;
}

.navbar-brand img {
	border-radius: 50%;
	margin-bottom: 4px;
	margin-right: 10px;
}

.nav-link {
	font-size: 1.2em;
	margin: 10px;
}

.navbar-toggler {
	background: #fff;
}

/*--------------*/

/* Footer styles */

footer {
	width: 100%;
	flex: 0 0 auto;
	background: #1a1b1c;
}

.rights {
	padding: 15px 10px;
	font-size: 25px;
	color: white;
}

.text {
	float: left;
}

#slogan {
	float: right;
	font-size: 25px;
	color: white;
}

/*----------------*/

/* Content styles */

#main {
	width: 100%;
	text-align: center;
	background: url('../images/about_bg.jpg');
	padding: 5% 5%;
}

#main img {
	margin-top: 5%;
	border-radius: 50%;
}

#main p {
	color: white;
	margin: 0;
	padding: 2% 2%;
	font-size: 40px;
	font-family: 'Inconsolata', monospace;
}

#main a {
	font-size: 20px;
	background: linear-gradient(30deg, #fa709a, #fee140);
	border-radius: 50%;
	width: 50px;
	height: 50px;
	padding: 10px;
}

#about { 
	text-align: center;
    padding: 10% 15%;
    background-image: url('../images/3.jpg');
}

#about h3 {
	color: white;
	background: linear-gradient(30deg, #fa709a, #fee140);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-family: 'Suez One', sans-serif;
	font-size: 50px;
	margin-bottom: 15px;
}	

#about p {
	color: white;
	font-size: 30px;
	font-family: 'Lato', sans-serif;
}

.techno .tech {
	color: white;
	list-style-type: square;
}

.tech li {
	width: auto;
	margin-left: 43%;
}

#editors {
	padding: 15%;
	color: white;
	font-family: 'Lato';
	letter-spacing: 1px;
	background-image: url('../images/4.jpg');
}

#editors h3 {
	font-size: 40px;
}

#icons {
	padding-left: 25%;
}

#icons img {
	margin: 30px;
	width: 95px;
	height: 95px;
	transition: all 0.5s ease;
}

#icons img:hover {
	transition: all 0.5s ease;
	transform: scale(1.5, 1.5);
}

#contacts {
	text-align: center;
	padding: 10% 10%;
	background: url('../images/contactus.jpg');
}

#contacts span {
	color: white;
	font-size: 35px;
	font-family: 'Montserrat', sans-serif;
}

#contacts .gettop {
	border: 1px solid #c3c3c3;
	padding: 8px;
	color: white;
	transition: all 0.5s ease;
}

#contacts .gettop:hover {
	background: #6dbcf3;
	text-decoration: none;
	transition: all 0.4s ease;
}

#links {
	margin-bottom: 25px;
}

#links a {
	margin: 25px;
	color: white;
	transition: all 0.5s ease;
	text-decoration: none;
	font-size: 55px;
}

/*----------------*/

/* Media queries */

@media (min-width: 320px) and (max-width: 600px) {
    #main p {
    	font-size: 35px;
    }

    #about h3 {
    	font-size: 35px;
    }

    #about p {
    	font-size: 20px;
    }

    .tech {
    	margin-right: 45%;
    }

    .tech li {
    	width: 200px;
    }

	#links a {
		font-size: 35px;
	}

	#contacts span {
		font-size: 20px;
	}

	.gettop {
		font-size: 15px;
	}
}

@media (min-width: 320px) and (max-width: 710px) {
	#slogan {
		float: left;
	}
}

@media (min-width: 1000px) {
	.tech li {
		width: 200px;
	}
}

@media (min-width: 1504px) and (min-height: 800px) {
	.gettop {
		display: none;
	}
}


