@import url('https://fonts.googleapis.com/css?family=Roboto+Slab|Suez+One&display=swap');

/* Basic styles */

* {
	margin: 0;
	padding: 0;
}

html, body {
	width: 100%;
	height: 100%;
	background-image: url('../images/xmFj7k.png');
}

a {
	text-decoration: none;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.content {
	flex: 1 0 auto;
}

header {
	width: 100%;
	background: #1a1b1c;
}

footer {
	width: 100%;
	flex: 0 0 auto;
	background: #1a1b1c;
}

/*-------------*/

/* Website logo's styles */

.logo-link {
	padding: 10px 10px;
}

.logo {
	padding: 50px 1%;
	font-size: 2.1em;
	color: white;
	font-family: 'Suez One', sans-serif;
	transition: all 1s ease;
}

.logo:hover {
	color: #db6326;
	transition: all 1s ease;
	text-decoration: none;
}

/*---------------------*/

/* "Rights" block and text's styles */ 

.rights {
	padding: 15px 10px;
}

.text {
    color: white;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 25px;
}

/*---------------------------------*/
