@import url('https://fonts.googleapis.com/css?family=Roboto+Slab|Suez+One&display=swap');

/* Basic styles */

* {
	margin: 0;
	padding: 0;
}

html, body {
	width: 100%;
	height: 1080px;
	background-image: url('../images/xmFj7k.png');
}

a {
	text-decoration: none;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.content {
	flex: 1 0 auto;
}

/*-------------*/

/* Header styles */

header {
	width: 100%;
	background: #fff;
}

.navbar-brand {
	font-family: 'Suez One', sans-serif;
	font-size: 2em;
}

.navbar-brand:hover {
	border-bottom: 0.5px solid #781adb;
}

.nav-link {
	font-size: 1.2em;
}

.nav-link:hover {
    border-bottom: 0.5px solid #5981F1;
}

/*--------------*/

/* Footer styles */

footer {
	width: 100%;
	flex: 0 0 auto;
	background: #fff;
}

.rights {
	padding: 15px 10px;
}

#social-links {
	float: right;
}

#social-links span {
	margin-right: 5px;
	font-size: 25px;
	font-family: 'Roboto Slab', sans-serif;
}

#social-links a {
	padding-right: 10px;
	margin: 5px;
	font-size: 25px;
	color: black;
}

.text {
    color: black;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 25px;
}

/*----------------*/

/* Content styles */

.content h2 {
	color: white;
	font-family: 'Suez One', sans-serif;
	text-align: center;
}

/*----------------*/
